@font-face {
    font-family: "roboto-regular";
    src: url(/resource/RobotoRegular) format("truetype");
}

.THIS * {
    font-family: 'roboto-regular';
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

.THIS img.profilephoto
{
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    border: 3px solid #77D0ED;
}

.THIS h3 {
    font-size: 20px;
	text-transform: uppercase;
}

.THIS #cardwrapper {

    padding-top: 10px;
}

.THIS #createidea
{
    position: absolute;
    top: 300px;
    right: 20px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.48);
    border: 0px;
    
}

.THIS .card {
    background: #f9f9f9;
    border-radius: 4px;
    color: #333;
    margin: 14px;
    cursor: pointer;
    height: 110px;
  	background: #f9f9f9;
/*	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 100%);*/
}

.THIS .carddetails
{
    position: absolute;
	width: 100%;
    padding: 14px;
}

.THIS img.staricon
{
    width: 50px;
}

.THIS .votestar
{
	width: 80px;
    height: 80px;
    margin: auto;
/* font-size: 3.6em; */
background: transparent;
border-radius: 50%;
border: 3px solid transparent;
/* padding-top: 13px; */
color: #fff;
cursor: pointer;
-webkit-transition: 1s ease all;
transition: 1s ease all;
padding: 10px;
}

.THIS .votestar:hover
{
    background: #12B4FD;
    border-radius: 50%;
    border: 3px solid #36C0FF;
    color: #fff;
    cursor: pointer; 
}

.THIS .votestar:active
{
    background: #12B4FD;
    border: 3px solid #36C0FF;
    color: #03A9F4;
    cursor: pointer;
    opacity: .2;
}



/* form starting stylings ------------------------------- */
.THIS .group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.THIS input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 0px;
}
.THIS input:focus 		{ outline:none; }

/* LABEL ======================================= */
.THIS label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.THIS input:focus ~ label, .THIS input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.THIS .bar 	{ position:relative; display:block; width:100%; }
.THIS .bar:before, .THIS .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.THIS .bar:before {
  left:50%;
}
.THIS .bar:after {
  right:50%; 
}

/* active state */
.THIS input:focus ~ .bar:before, .THIS input:focus ~ .bar:after {
  width:50%;
}

.THIS .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.THIS input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}







.THIS .carddetails h3
{
    margin-top: 20px;
    margin-bottom: 4px;
}

.THIS .carddetails .timeago 
{
    margin-left: 10px;
}

.THIS .progress
{
    height: 110px;
    box-shadow: none;
    background-color: none;
}

.THIS .navbar-default .navbar-nav>li>a.filterbutton, .THIS a.filterbutton
{
    text-transform: uppercase;
    color: #fff;
}

.THIS .progress-bar-success
{
    background: #B3E5FC;
    box-shadow: none;
}


.THIS .case-number {
    width: 100%;
    text-align: left;
    font-size: .9em;
    margin-top: 14px;
    margin-left: 50px;
}

.THIS .case-number div.left {
    width: 70%;
    float: left;
}

.THIS .case-number div.right {
    width: 25%;
    float: right;
}

.THIS .case-name {
    font-size: 1.2em;
}

.THIS .case-mobile {
    font-size: 1em;
	margin-bottom: 14px;
}

.THIS .case-subject
{
    margin-left: 50px;
}

.THIS .case-escalated, .THIS .case-priority, .THIS .case-name, .THIS .case-contact, .THIS .case-mobile {
    display:none;
}

.THIS#fixedheader {
/*    height: 150px; */
/*    background: #1A93D8; */
    background: #03A9F4;
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 4px #000;
    transition: all 1s ease-in-out;
    
}

.THIS .navbar {
 margin-bottom: 0px;
 border: 0px solid transparent;
}

.THIS .filterbuttons {
    width: 900px;
    margin: auto;
}

.THIS .ideacommentbody
{
    margin-top: 4px;
}

.THIS .titleheader, .THIS .searchbar {
/*    width: 900px; */
    margin: auto;
	text-align: center;    
}

.THIS .navbar-default
{
    background: transparent;
}

.THIS h1 {
    font-size: 24px;
	text-transform: uppercase;
    color: #fff;
}

.THIS .searchbar {
    width: 900px;
    background: #f9f9f9;
    height: 40px;
    font-size: 1.2em;
    color: #666;
    border-radius: 4px;
}

.THIS .filterbutton .uiButton.default .label
{
    box-shadow: none;
    color: #ddd;
}



.THIS .hidden
{
    display:none;
}

.THIS .uiButton.default {
font-weight: inherit;
font-size: inherit;
padding: inherit;
text-decoration: none;
text-align: center;
border-radius: 4px;
border: 0;
border-top: none;
background: none;
box-shadow: none;
text-shadow: none;
text-transform: uppercase;
}

.THIS .label
{
    font-size: 100%;
}

.THIS .ideatitle
{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
}

.THIS .ideatitle:focus
{
    outline:0;
    border-bottom-color: #2192EB;
}

.THIS textarea
{
    width: 100%;
    font-size: 1.4em;
    border: 0px;
    resize: none;
}

.THIS textarea:focus
{
    outline:0;
}




.THIS .filterbutton.uiButton.default
{
/* background: #0A70A9; */
background: #337ab7;
color: #fff;

padding: 10px;
border-radius: 4px;

}

.THIS .filterbutton.vote
{
    width: 49%;
}

.THIS .buttonwrap
{
margin-left: 6%;
margin-right: 6%;
text-align: center;
float: left;
}

.THIS .buttonwrap i.fa
{
color: #ddd;
position: absolute;
margin-left: -58px;
margin-top: 28px;
font-size: 1.8em;
}

.THIS div.navlabel
{
    color: #ddd;
    font-size: 1.1em;
    margin-top: 20px;
}

.THIS .timeago
{
/*    border-bottom: 1px solid #efefef; */
    margin-bottom: 8px;
/*    padding-bottom: 8px; */
/*    margin-left: 10px; */
    color: #999;
}

.THIS .btn {
    border-radius: 2px;
    text-transform: uppercase;
}

.THIS .btn.btn-primary.circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    line-height: .8em;
    transition: all .5s ease-in-out;
}

.THIS .btn.btn-primary.circle:hover
{
    /* animation: rotatebutton 1s; */
    /* transform: rotate(90deg) scale(1.1); */
    background: #03A9F4;
}

/* Standard syntax */
@keyframes rotatebutton {
    50% {transform: rotate(90deg);}
}


.THIS .modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}

.THIS .modal-dialog
{
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.48);
}


.THIS .outline-outward {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 50%;    
}
.THIS .outline-outward:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 2px;
  border-radius: 50%;
  opacity: .3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}
.THIS .outline-outward:hover:before, .THIS .outline-outward:focus:before, .THIS .outline-outward:active:before {
  top: -8px;
  opacity: 1;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


.THIS .box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.THIS .box-shadow-outset:hover, .THIS .box-shadow-outset:focus, .THIS .box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.THIS .commentinput
{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
    margin-top: 10px;
}

.THIS .commentinput:focus
{
    outline:0;
    border-bottom-color: #2192EB;
}

.THIS pre
{
    border: 0px;
    padding: 0px;
    margin: 0px;
background: transparent;
color: #fff;
font-size: 1.2em;
line-height: 2em;
    margin-top: 20px;
}

.THIS .modal-header.detail
{
/*	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 100%);
    color: #333; */

	position: relative;
}
/*.THIS .modal-header.detail:after {
	top: 100%;
	left: 6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333333;
	border-width: 20px;
	margin-left: -20px;
}*/

.THIS .modal-body.comments
{
    margin-top: 20px;
}

.THIS .modal-body.comments .timeago 
{
    font-size: .9em;
}

.THIS .row.commentcreate
{
/*    margin-bottom: 14px;*/
}
 
.THIS .votebutton {
    font-size: 3em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    line-height: 1.4em;
    cursor: pointer;
}

.THIS .row.comment
{
    margin-bottom: 20px;
}

.THIS .row.comment .commentphoto
{
    border: 2px solid #ddd;
}

.THIS .commentcount {
    float: right;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 2.5em;
    font-size: .8em;
    margin-top: 28px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
}

.THIS .commentcount {
	position: relative;
	background: #0DA9DB;
}
.THIS .commentcount:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 139, 184, 0);
	border-right-color: #0DA9DB;
	border-width: 5px;
	margin-top: -5px;
}


.THIS .commentphoto {
float: left;
margin-right: 20px;
border-radius: 50%;
width: 50px;
border: solid #ddd;
}

.THIS .commentphoto.currentuser {
    width: 50px;
}

.THIS .commentrow
{
    width:100%;
    padding:10px;
    float:left;
}

.THIS#grid-gallery
{
    top:180px;
    transition: all 1s ease-in-out;
    padding-bottom: 200px;
}

/* 
  .THIS#grid-gallery
{
    top:180px;
}
 * .THIS#fixedheader {
    height: 150px;
    background: #03A9F4;
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 4px #000;
}
transition: all 1s ease-in-out;
*/

/* .THIS .modal.fade.in .modal-body {
    bottom: 0; 
    opacity: 1;
}
.THIS .modal-body {
    position: absolute;
    bottom: -250px;
    right: 5%;
    padding: 30px 15px 15px;
    width: 275px;
    height: 250px;
    background-color: #e5e5e5;
    border-radius: 6px 6px 0 0;
    opacity: 0;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
} */


/* Hollow */
.THIS .hollow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.THIS .hollow:hover, .THIS .hollow:focus, .THIS .hollow:active {
  background: none;
}





/* 
  .THIS#grid-gallery
{
    top:50px;
}
 .THIS#fixedheader {
    height: 80px;
}
*/


.THIS div.titleheader {
    transition: all 1s ease-in-out;
    width: 100%;
    float: left;
}

.THIS#fixedheader, .THIS#grid-gallery, .THIS nav.nav-bar
{
    transition: all 1s ease-in-out;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .THIS .card { width: 90%; }
      .THIS#grid-gallery
    {
        top:80px;
    }
     .THIS#fixedheader {
        height: 60px
    }     
    .THIS div.titleheader
    {
        height: 0px;
    }
    
    .THIS .carddetails h3
    {
        margin-top: 0px;
        font-size: 16px;
    }
    
    .THIS img.profilephoto
    {
        margin-right: 14px;
    }
    
    .THIS span.timeago
    {
        display: block;
/*        width: 100%; */
    }
    
    .THIS .commentcount
    {
        margin-top: 18px;
    }
    
    .THIS .progress, .THIS .card
    {
        height: 90px;
    }
    
/*    .THIS #createidea 
    {
        top: 300px;
        bottom: inherit;
    } */
    
    .THIS .logo
    {
width: 40%;
margin-top: 18px;
        margin-left: -2px;
    }
    
    .THIS .tabs a {position:relative;color:white;text-decoration:none;display:block;width:100px;height:50px;text-align:center;line-height:52px;font-weight:500;font-size:14px;color:rgba(255,255,255,0.6);overflow:hidden;}
    .THIS .tabs .active a {color:white;}
    .THIS .tabs .active a:after {height:2px;width:100%;display:block;content:" ";bottom:0px;left:0px;position:absolute;background:#fff;
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;-moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);}
    .THIS .tabs a span {position:absolute;margin-left:-40px;margin-top:-24px;width:80px;background:rgba(255,255,141,1);height:100%;display:block;border-radius:50%;opacity:0;}
    .THIS .tabs a span.clicked {-webkit-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;-moz-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;border-bottom:2px solid transparent;}
      
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 480px)
and (max-width : 1024px) {
	.THIS .card { width: 46%; }
      .THIS#grid-gallery
    {
        top:120px;
    }
     .THIS#fixedheader {
        height: 100px;
    }
    .THIS div.titleheader
    {
        height: 0px;
    }
    .THIS .logo
    {
        width: 200px;
		margin-top: 10px;
    }
    .THIS .navbar-default .navbar-collapse
    {
        margin-top: 30px;
    }
    
    .THIS .navbar
    {
        margin-top: 20px;
    }
    
    .THIS .tabs a {position:relative;color:white;text-decoration:none;display:block;width:100px;height:50px;text-align:center;line-height:52px;font-weight:500;font-size:14px;color:rgba(255,255,255,0.6);overflow:hidden;}
    .THIS .tabs .active a {color:white;}
    .THIS .tabs .active a:after {height:2px;width:100%;display:block;content:" ";bottom:0px;left:0px;position:absolute;background:#fff;
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;-moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);}
    .THIS .tabs a span {position:absolute;margin-left:-40px;margin-top:-24px;width:80px;background:rgba(255,255,141,1);height:100%;display:block;border-radius:50%;opacity:0;}
    .THIS .tabs a span.clicked {-webkit-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;-moz-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;border-bottom:2px solid #fff;}
  
    
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {
	.THIS .card { width: 31%; }
    

    
    .THIS div.titleheader
    {
        /* height: 99px; */
margin-top: 34px;
margin-bottom: 14px;
    }
     .THIS#fixedheader {
        height: 165px;
    }    
    .THIS .navbar-default .navbar-collapse
    {
        margin-top: 5px;
    }
    
    .THIS .tabs a {position:relative;color:white;text-decoration:none;display:block;width:100px;height:50px;text-align:center;line-height:52px;font-weight:500;font-size:14px;color:rgba(255,255,255,0.6);overflow:hidden;}
    .THIS .tabs .active a {color:white;}
    
/*    .THIS .tabs a:after {height:2px;width:100%;display:block;content:" ";bottom:0px;left:0px;position:absolute;background:transparent;
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;-moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);} */

    .THIS .tabs .active a:after {height:2px;width:100%;display:block;content:" ";bottom:0px;left:0px;position:absolute;background:#fff;
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;-moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);}
    .THIS .tabs a span {position:absolute;margin-left:-40px;margin-top:-24px;width:80px;background:rgba(255,255,141,1);height:100%;display:block;border-radius:50%;opacity:0;}
    .THIS .tabs a span.clicked {-webkit-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;-moz-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;border-bottom:2px solid #fff;}

    
}


/* Change default Bootstrap style */
.THIS .modal-content
{
    border: none;
    box-shadow: none;
}

.THIS .modal-footer, .THIS .modal-header
{
    border: 0px;
}

.THIS .modal-header
{
    background: #03A9F4;
    margin-bottom: 20px;
    border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.THIS .modal-content
{
    border-radius: 4px;
}

.THIS .modal-header h4 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}


.THIS .navbar-form .input-group>.form-control {
	width: auto;
	display: inline-block;
	width: 100% !important;
}

.THIS .navbar-form .input-group .input-group-addon, .THIS .navbar-form .input-group .input-group-btn, .THIS .navbar-form .input-group .form-control {
	width: .1%;
}

.THIS .navbar-form .input-group {
	display: table;
}

.THIS .navbar-default, .THIS .navbar-default .navbar-form
{
    border-color: transparent;
}

.THIS button:focus, .THIS .btn.btn-default:focus
{
    outline:0;
}

.THIS .modal-backdrop
{
    background-color: #111;
}

.THIS .modal-backdrop.in
{
    opacity: .4;
}


  .THIS .navbar-nav {
    width: 100%;
    text-align: center;
}
   .THIS .navbar-nav > li {
      float: none;
      display: inline-block;
  }



/* navigation tabs */

.THIS .navbar-default .navbar-nav>.active>a, .THIS .navbar-default .navbar-nav>.active>a:hover, .THIS .navbar-default .navbar-nav>.active>a:focus
{
    background-color: transparent;
}

.THIS .navbar-default .navbar-nav>li>a.filterbutton
{
    padding: 0px;
}


@-webkit-keyframes expand {
    0% {
        background:RGBA(179, 229, 252, 1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(179, 229, 252,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(179, 229, 252,0);
        transform: scale(3);
        border-radius: 0;
        -webkit-transform: scale(3);
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-moz-keyframes expand {
    0% {
        background:rgba(179, 229, 252,1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(179, 229, 252,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(179, 229, 252,0);
        transform: scale(3);
        border-radius: 0;
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-webkit-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}
@-moz-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}

.THIS .navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.THIS .navbar-toggle .icon-bar {
width: 5px;
height: 5px;
border-radius: 50%;
}
.THIS .navbar-default .navbar-toggle
{
    border-color: transparent;
}

.THIS .navbar-default .navbar-collapse.tabs.collapse.in, .THIS .navbar-default .navbar-collapse.tabs.collapsing {
border-color: #e7e7e7;
background: #fff;
margin-left: 45%;
margin-right: -10px;
border: 1px transparent;
margin-top: 0px;
border-radius: 2px;
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3);
    padding: 0px;
}

.THIS .navbar-default .navbar-collapse.tabs.collapse.in ul , .THIS .navbar-default .navbar-collapse.tabs.collapsing ul {
	margin: 0px;
}


.THIS .navbar-default .navbar-collapse.tabs.collapse.in .navbar-nav>li>a.filterbutton, .THIS .navbar-default .navbar-collapse.tabs.collapsing .navbar-nav>li>a.filterbutton
{
    color: #666;
}

.THIS .navbar-default .navbar-collapse.tabs.collapse.in .navbar-nav>li, .THIS .navbar-default .navbar-collapse.tabs.collapsing .navbar-nav>li
{
    width: 100%;
}


.THIS .navbar-default .navbar-collapse.tabs.collapse.in .navbar-nav>li>a.filterbutton, .THIS .navbar-default .navbar-collapse.tabs.collapsing .navbar-nav>li>a.filterbutton {
padding: 0px;
text-align: left;
padding-left: 10px;
    width: 100%;
    text-transform: capitalize;
    padding-left: 20px;
font-size: 1.1em;
color: #333;    
}

.THIS .navbar-default .navbar-collapse.tabs.collapse.in .THIS .tabs .active a:after
{
    position: static !important;
    height: 0px !important;
}

.THIS .navbar-default .navbar-toggle:hover, .THIS  .navbar-default .navbar-toggle:focus
{
    background: transparent;
}

.THIS .linkstandard {
    text-transform: uppercase;
    padding: 10px 14px;
    text-decoration: initial;
    outline: 0;
    margin-top: 5px;
	float: right;
}




/* make keyframes that tell the start state and the end state of our object */
@keyframes fadeIn {
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
}
 
.THIS .fade-in {
 opacity:0;  /* make things invisible upon start */
 animation:fadeIn ease-in 1;
animation-fill-mode: both;
 animation-duration:1s;
}


.THIS .flashVote {
/*    animation-name: flash;
    animation-timing-function: ease-out;
    animation-duration: 1s; */
}

@keyframes flash {
    from { background: #E1F5FE; }
    to  { background: #03A9F4; }
}

.THIS .votecount
{
	margin-top: -33px;
    color: #03A9F4;
    pointer-events: none;
}

.THIS .linkstandard.grey
{
    color: #666;
}